---
layout: default
title: "Nintendo 64 games, news, accessories"
redirect_from:
  - /2013/01/04/nintendo-64dd-development-kit-sells-for-a-whopping-1555-on-ebay/
  - /2013/02/17/turok-dinosaur-hunter-cheats/
  - /2013/01/29/tropical-nintendo-64-destinations-you-should-visit/
  - /2013/01/27/creative-64-the-wave-race-64-main-theme-rockmetal-cover/
  - /category/news/
  - /retro-bits-wireless-hypermode-n64-controller/
  - /star-wars-shadows-of-the-empire-review/
  - /grant-kirkhope-releases-perfect-dark-ost-online/
  - /mobile/news/2016/11/03/retro-bit-and-8bitdo-release-wireless-n64-controller.html
---
<h1 class="site-title">N64 Blog</h1>
{% include featured.html %}

<section class="post-list">
  {% for post in site.posts %}
    {% if post.featured == false %}
    <article class="post-list__container">
      {% if post.img %}
        <img class="post-list__img" src="{{ post.img }}" alt="" />
      {% endif %}
      <h3 class="post-list__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="post-list__content">
        {% assign desc = post.content | split: '</p>' %}
        {{ desc.first | append: '</p>' | strip_html }}
      </p>
      <p><a class="post-list__link" href="{{ post.url }}">Read more</a></p>
      <ul class="post-list__meta">
        {% if post.category == 'article' %}
        <li><a href="/articles">{{ post.category | capitalize }}</a></li>
        {% else %}
        <li><a href="/{{ post.category }}">{{ post.category | capitalize }}</a></li>
        {% endif %}
        <li>{{ post.date | date: '%d %B %Y' }}</li>
      </ul>
    </article>
    {% endif %}
  {% endfor %}
</section>
