---
layout: default
title: 'Reviews'
meta-title: "Nintendo 64 game reviews"
meta-description: "Modern day Nintendo 64 game reviews: we let you know whether an N64 game is still enjoyable to play today."
meta-keyword: "n64 game reviews, n64 reviews, nintendo 64 reviews, nintendo 64 game reviews"
redirect_to:
  - http://n64today.com/category/reviews/
---

<h1 class="page-title">{{ page.title }}</h1>

<section class="post-list">
  {% for post in site.categories.review %}
    <article class="post-list__container">
      {% if post.img %}
        <img class="post-list__img" src="{{ post.img }}" alt="" />
      {% endif %}
      <h3 class="post-list__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="post-list__content">
        {% assign desc = post.content | split: '</p>' %}
        {{ desc.first | append: '</p>' | strip_html }}
      </p>
      <p><a class="post-list__link" href="{{ post.url }}">Read more</a></p>
      <ul class="post-list__meta">
        <li>{{ post.category | capitalize }}</li>
        <li>{{ post.date | date: '%d %B %Y' }}</li>
      </ul>
    </article>
  {% endfor %}
</section>
