<header class="site-header">
  <div class="site-header__logo">
    <a href="{{ site.baseurl }}/" id="logo">
      {% include logo.svg %}
    </a>
  </div>
  <article class="cover-story">
    <h5 class="cover-story__tag">Cover Story</h5>
    <h1 class="cover-story__title">Awesome title</h1>
    <p class="cover-story__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laboret enim ad minim veni</p>
    <a class="btn" href="#">Read</a>
  </article>
</header>





<nav class="site-nav">
    <a href="/games">Games</a>
</nav>
