.site-footer {
  @include clearfix;
  display: block;
  padding: ($base-spacing * 2) 0 0;
  position: relative;
  @include media-above('large') {
    @include size(100%, auto);
    padding: ($base-spacing * 2) 0 ($base-spacing * 2) ($base-spacing * 3);
  };

  h4 {
    color: $color-alpha;
  }

}

.site-footer__links {
  list-style-type: none;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: 0;
  font-family: $heading-font;

  & li {
    display: block;
    width: 100%;
    font-size: 0.85em;
  }

  & li a {
    color: $dark-grey;

    &:hover {
      color: lighten($dark-grey, 10%);
    }

  }

}

.site-footer__copyright {
  font-family: $heading-font;
  font-size: 0.75em;
  color: lighten($dark-grey, 10%);
  font-style: italic;
  margin: 0;
}
