// Games index
.games-title {
  margin: 1%;
  color: $color-gamma;
}

.games-container {
  @include clearfix;
  margin: -1%;
  @include media-above('medium'){
    padding-left: ($base-spacing * 3);
  };
}

.games-card {
  float: left;
  margin: 1%;
  width: 48%;
  @include media-above('medium') {
    width: 23%;
  };
  &__boxart {
    display: block;
    width: 100%;
    margin: 0 0 ($base-spacing / 4) 0;
  }
  &__name {
    font-size: 0.85em;
    color: $color-beta;
    &:hover {
      color: shade($color-beta, 25%);
    }
  }
}

// Related posts

.related-post {
  margin: 0 0 $base-spacing 0;
}

.related-post__title {
  font-family: $heading-font;
}

.related-post__meta {
  font-family: $heading-font;
  font-size: 0.75em;
  color: $dark-grey;
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    display: inline-block;
    &::before {
      content: ' | ';
      padding: 0 5px;
    }
    &:first-child {
      &::before {
        content: '';
        padding: 0;
      }
    }
    & a {
      color: $dark-grey;
    }
  }
}

// Game meta

.game-info {
  background-color: $color-beta;
  padding: $base-spacing;
  color: $white;
  & dl {
    padding: 0;
    margin: 0;
    font-family: $heading-font;
  }
  & dl dt, & dl dd {
    padding: 0;
    margin: 0;
  }
  & dl dt {
    font-weight: 900;
    margin: ($base-spacing / 2) 0 0 0;
    &:first-child{
      margin: 0;
    }
  }
  & dl dd {

  }
}
