body {
  background: $light-gray;
  @include clearfix;
}

.site-header {
  width: 100%;
  background-color: $black;
  //box-shadow: inset 0px 1700px 400px -150px rgba(0,0,0,0.6);
  background-size: cover;
  @include media(720px) {
    box-sizing: border-box;
    width: 40%;
    height: 100vh;
    float: left;
    position: fixed;
    overflow: scroll;
  }
}

.site-header--game {
  background-position: center;
}
