.logo-container {
  //width: 100%;
  //display: block;
  //@include clearfix;
}

#logo {
  width: 75px;
  height: 75px;
  display: block;
  position: absolute;
  background-color: $color-alpha;
  padding: 10px;
  margin: 0 0 ($base-spacing * 1) 0;
  @include media-above('medium') {
    right: 0;
  };
}

.logo__controller {
  fill: $color-alpha;
  fill: $white;
  width: 100%;
}

#logo:hover .logo__controller {
  //animation: colorchange 2s infinite;
}

#logo:hover {
  animation: padding 2s infinite;
}


@keyframes colorchange
{
  0%   {fill: $color-beta;}
  25%  {fill: $color-delta;}
  50%  {fill: $color-alpha;}
  75%  {fill: $color-gamma;}
  100% {fill: $color-beta;}
}

@keyframes padding
{
  0%   {background: $color-alpha;}
  25%  {background: $color-beta;}
  50%  {background: $color-gamma;}
  75%  {background: $color-delta;}
  100% {background: $color-alpha;}
}
