.main {
  width: 100%;
  @include media(720px) {
    width: 60%;
    float: right;
  }
}

.container {
  padding: $base-spacing;
  box-sizing: border-box;
  float: left;
  width: 100%;
  @include media(720px) {
    padding: 45px ($base-spacing * 3) ($base-spacing * 3) ($base-spacing * 3);
    max-width: 720px;
  }
}
