// Post index

.featured {
  display: block;
  background-color: $color-beta;
  background-image: url(../assets/turok-hero.jpg);
  background-size: cover;
  margin: ($base-spacing * -1) ($base-spacing * -1) ($base-spacing * 2) ($base-spacing * -1);
  padding: ($base-spacing * 2) $base-spacing;
  @include media-above('large') {
    @include size(100%, 100%);
    margin: ($base-spacing * -1) 0 ($base-spacing * 2) 0;
    padding: ($base-spacing * 6) ($base-spacing * 1) ($base-spacing * 6) ($base-spacing * 3);
  };
  &__title a {
    color: $white;
    @include media-above ('large'){
      font-size: 3rem;
    };
    &:hover {
      opacity: 0.75;
    }
  }
  &__link {
    color: $white;
    font-family: $heading-font;
    font-weight: 600;
    &:hover {
      color: $white;
      opacity: 0.75;
    }
  }
}


.post-list {
  @include media-above('large') {
    //padding: 100px 0 0 0;
  };
}

.post-list__container {
  margin: 0 0 ($base-spacing * 2) 0;
  padding: 0 0 ($base-spacing * 2) 0;
  border-bottom: 2px solid $medium-grey;
  position: relative;
  @include media-above('large') {
    @include size(100%, 100%);
    margin: 0 0 ($base-spacing * 2) 0;
    padding: 0 ($base-spacing * 7) ($base-spacing * 2) ($base-spacing * 3);
  };
}

.post-list__heading {
  color: $color-gamma;
  @include media-above('large') {
    padding: 0 0 0 ($base-spacing * 3);
  };}

.post-list__content {
  margin: 0 0 ($base-spacing / 2) 0;
}

.post-list__img {
  width: 100%;
  display: block;
  margin: 0 0 $base-spacing 0;
}

.post-list__link {
  color: $color-beta;
  font-family: $heading-font;
  font-weight: 600;
  &:hover {
    color: darken($color-beta, 10);
  }
}

.post-list__meta {
  font-family: $heading-font;
  font-size: 0.75em;
  color: $dark-grey;
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    display: inline-block;
    &::before {
      content: ' | ';
      padding: 0 5px;
    }
    &:first-child {
      &::before {
        content: '';
        padding: 0;
      }
    }
    & a {
      color: $dark-grey;
    }
  }
}


// Post and page show

.post-content, .page-content {
  @include clearfix;
  margin: 0 0 ($base-spacing * 2) 0;
  padding: 0 0 ($base-spacing * 2) 0;
  position: relative;
  @include media-above('large') {
    @include size(100%, 100%);
    margin: 0 0 ($base-spacing * 2) 0;
    padding: 0 0 ($base-spacing * 2) ($base-spacing * 3);
  };
  & img {
    max-width: 100%;
    display: block;
  }
}

.post-content__body {
  float: left;
  width: 100%;
  @include media-above('medium'){
    width: calc(75% - #{$base-spacing});
    margin-right: $base-spacing;
  };

  & p:first-child {
    font-family: $heading-font;
    font-weight: bold;
  }

}

.post-content__meta {
  float: left;
  width: 100%;
  @include media-above('medium'){
    width: 25%;
  };
}

.related-games {
  background-color: tint($medium-grey, 50);
  padding: ($base-spacing) ($base-spacing) ($base-spacing) ($base-spacing);
  &__heading {
    font-size: 1.25em;
    color: $color-alpha;
    margin-bottom: ($base-spacing / 2);
  }
}

.related-game {
  margin: 0 0 $base-spacing 0;
  &__img {
    width: 100%;
    display: block;
    margin: 0 0 ($base-spacing / 4) 0;
  }
  &__name {
    font-size: 0.75em;
    color: $color-beta;
    &:hover {
      color: shade($color-beta, 25%);
    }
  }
  &:last-child {
    margin: 0;
  }
}
