<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="site-header">
      <section class="site-header__container">
        <div class="logo-container">
          <a href="{{ site.baseurl }}/" id="logo">
            <h1>N64 Blog</h1>
            {% include logo.svg %}
          </a>
        </div>
        {% include nav.html %}
      </section>
    </header>

    <main class="site-body">
      <section class="site-body__container">
        {{ content }}
        {% include footer.html %}
      </section>
    </main>

  </body>

</html>
