---
layout: default
---

<section class="post-content">
  <div class="post-content__body">
    <h1>{{ page.title }}</h1>
    {{ content }}

    {% comment %}Build related posts array{% endcomment %}
      {% assign related_posts = "" | split:"|" %}
      {% for tags in page.tags %}
        {% assign t = tags %}
        {% for post in site.posts %}
          {% if post.tags contains t %}
            {% assign related_posts = related_posts | push: post %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% comment %}End building related posts array{% endcomment %}

    {% if related_posts != empty %}
    <hr>
    <h3>Related posts</h3>

    {% for post in related_posts %}
      <article class="related-post">
        <h4><a class="related-post__title" href="{{ post.url }}">{{ post.title }}</a></h4>
        <ul class="related-post__meta">
          <li>{{ post.category }}</li>
          <li>{{ post.date | date: '%d %B %Y' }}</li>
        </ul>
      </article>
    {% endfor %}
    {% endif %}

  </div>
  <div class="post-content__meta">
    <img class="game-info__boxart" src="/assets/boxart/large/{{ page.boxart }}" alt="" />
    <section class="game-info">
      <dl>
        {% if page.developer.size == 1 %}
        <dt>Developer</dt>
        {% else %}
        <dt>Developers</dt>
        {% endif %}
        {% for devs in page.developer %}
        <dd>{{ devs }}</dd>
        {% endfor %}

        {% if page.publisher.size == 1 %}
        <dt>Publisher</dt>
        {% else %}
        <dt>Publishers</dt>
        {% endif %}
        {% for publisher in page.publisher %}
        <dd>{{ publisher }}</dd>
        {% endfor %}

        <dt>Released</dt>
        {% if page.release-jpn %}
        <dd>JPN: {{ page.release-jpn | date: "%B %Y"}}</dd>
        {% endif %}
        {% if page.release-na  %}
        <dd>US: {{ page.release-na | date: "%B %Y"}}</dd>
        {% endif %}
        {% if page.release-eu  %}
        <dd>EU: {{ page.release-eu | date: "%B %Y"}}</dd>
        {% endif %}

        <dt>Genre</dt>
        {% for genre in page.genre %}
        <dd>{{ genre }}</dd>
        {% endfor %}

        <dt>Players</dt>
        {% if page.maxplayers == 1 %}
        <dd>1 player</dd>
        {% else %}
        <dd>{{ page.minplayers }} &ndash; {{ page.maxplayers }} players</dd>
        {% endif %}
      </dl>
    </section>
  </div>
</section>
