---
layout: default
---

<h1 class="page-title">{{ page.title }}</h1>
<p class="byline">by {{ page.author }}, {{ page.date | date: '%d %B %Y' }}</p>

<section class="post-content">
  {% include share.html %}
  <div class="post-content__body">
    {{ content }}
    {% include review-scoring.html %}
    <br>
    {% include share.html %}
  </div>

  <div class="post-content__meta">
      {% for tags in page.tags %}
      {% assign t = tags %}
      {% for game in site.games %}
      {% if game.tags contains t %}
        <img class="game-info__boxart" src="/assets/boxart/large/{{ game.boxart }}" alt="" />
        <section class="game-info">
          <dl>
            {% if game.developer.size == 1 %}
            <dt>Developer</dt>
            {% else %}
            <dt>Developers</dt>
            {% endif %}
            {% for devs in page.developer %}
            <dd>{{ devs }}</dd>
            {% endfor %}

            {% if game.publisher.size == 1 %}
            <dt>Publisher</dt>
            {% else %}
            <dt>Publishers</dt>
            {% endif %}
            {% for publisher in game.publisher %}
            <dd>{{ publisher }}</dd>
            {% endfor %}

            <dt>Released</dt>
            {% if game.release-jpn %}
            <dd>JPN: {{ game.release-jpn | date: "%B %Y"}}</dd>
            {% endif %}
            {% if game.release-na  %}
            <dd>US: {{ game.release-na | date: "%B %Y"}}</dd>
            {% endif %}
            {% if game.release-eu  %}
            <dd>EU: {{ game.release-eu | date: "%B %Y"}}</dd>
            {% endif %}

            <dt>Genre</dt>
            {% for genre in game.genre %}
            <dd>{{ genre }}</dd>
            {% endfor %}

            <dt>Players</dt>
            {% if game.maxplayers == 1 %}
            <dd>1 player</dd>
            {% else %}
            <dd>{{ game.minplayers }} &ndash; {{ game.maxplayers }} players</dd>
            {% endif %}

            {% if game.cartridge  %}
            <dt>Cartridge size</dt>
            <dd>{{ game.cartridge | divided_by: 8 | append: 'MB' }} <small>({{ game.cartridge }} megabits)</small></dd>
            {% endif %}

            {% if game.controllerpak == true  %}
            <dt class="game-info__icon">{% include /icons/memory-pak.svg %}</dt>
            <dd class="game-info__icon-caption">Controller Pak compatible</dd>
            {% endif %}

            {% if game.rumble == true  %}
            <dt class="game-info__icon">{% include /icons/rumble-pak.svg %}</dt>
            <dd class="game-info__icon-caption">Rumble Pak compatible</dd>
            {% endif %}

            {% if game.expansion == true  %}
            <dt class="game-info__icon">{% include /icons/expansion-pak.svg %}</dt>
            <dd class="game-info__icon-caption">Expansion Pak optional</dd>
            {% elsif game.expansion == "required"  %}
            <dt class="game-info__icon">{% include /icons/expansion-pak.svg %}</dt>
            <dd class="game-info__icon-caption">Expansion Pak required</dd>
            {% endif %}

            {% if game.transfer == true  %}
            <dt class="game-info__icon">{% include /icons/transfer-pak.svg %}</dt>
            <dd class="game-info__icon-caption">Transfer Pak compatible</dd>
            {% endif %}

          </dl>
        </section>
      {% endif %}
      {% endfor %}
      {% endfor %}
  </div>
</section>
